@tailwind base;
@tailwind components;
@tailwind utilities;

.h-content {
  height: calc(100% - 74px);
}

.text-transparent {
  color: transparent;
}

.hover\:text-transparent:hover {
  color: transparent;
}

.NavbarButton {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #6600ff;
  --tw-gradient-to: rgb(102 0 255 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #ff0044;
}

.NavbarButton:hover {
  background: white;
  transition: 0.2s ease-in-out;
}

.NavbarButton:hover div span {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #6600ff;
  --tw-gradient-to: rgb(102 0 255 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #ff0044;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #161616;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.hover\:gradient-border:hover {
  border: double 2px transparent;
  background-image: linear-gradient(#161616, #161616), radial-gradient(circle at left, #6600ff,#ff0044);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
